/* Reset margins and paddings */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Set font and background color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

/* Style the header */
header {
    padding: 1rem;
}

/* Style the nav menu */
nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #ccc;
}

/* Add some space between the content container and the page edges */
.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Update the main content padding */
main {
    padding: 2rem 0;
}

/* Style the sections */
section {
    margin-bottom: 2rem;
}

/* Style the section headings */
section h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

/* Style the footer */
footer {
    padding: 1rem;
    text-align: center;
}

.flag {
    width: 16px;
    height: auto;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
  }